  <connectionStrings>
    <add name="AppBoot" connectionString="Data Source=localhost\MSSQL01;Initial Catalog=AppBoot;Integrated Security=True;MultipleActiveResultSets=True;Application Name=AppBoot;" providerName="System.Data.SqlClient" />
    <add name="FineWork" connectionString="Data Source=localhost\MSSQL01;Initial Catalog=FineWork;Integrated Security=True;MultipleActiveResultSets=True;Application Name=FineWork;" providerName="System.Data.SqlClient" />
     <add name="FineWorkAzureStorage" connectionString="TableEndpoint=https://finework.table.core.chinacloudapi.cn;BlobEndpoint=https://finework.blob.core.chinacloudapi.cn;AccountName=finework;AccountKey=t35x0FNB37raNY8OYQwvhsXc93Ois2+17/iq7iHDNjJphxcEyEWr9tI7UxSYE8HGgMxCVqmDZWP+IPLQftXfuw=="/>
</connectionStrings>
