<log4net>
  <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level [%thread] %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
  <appender name="FileAppender" type="log4net.Appender.FileAppender">
    <file value="log-file.txt" />
    <appendToFile value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level [%thread] %logger [%ndc] - %message%newline" />
    </layout>
  </appender>
  <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
    <!--
      Log4View: For Vista-and Windows 7- User: 
      Caused by the additional support of the IPv6 protocol, the UDP appender in log4net 1.2.10.0 doesn't work, 
      if the parameter "RemoteAddress" is set to the "normal" Value 127.0.0.1. 
      A workaround is to set the local host address to 127.0.0.2 instead.
    -->
    <param name="RemoteAddress" value="127.0.0.2" />
    <param name="RemotePort" value="878" />
    <layout type="log4net.Layout.XmlLayout">
      <locationInfo value="true" />
    </layout>
  </appender>
  <root>
    <level value="DEBUG" />
    <!--appender-ref ref="TraceAppender" /-->
    <!--appender-ref ref="FileAppender" /-->
    <appender-ref ref="UdpAppender" />
  </root>
</log4net>
