<!-- the network settings for system.net/mailSettings/smtp/-->
<smtp from="finework-test@hotmail.com" deliveryFormat="International" deliveryMethod="Network">
  <network
      host="smtp-mail.outlook.com" port="587" enableSsl="true"
      defaultCredentials="false"
      userName="finework-test@hotmail.com" password="5uLpjCN2eF" />
</smtp>
