<?xml version="1.0" encoding="utf-8" ?>
<testAccounts>
  <accounts>
    <add name="local" userName="Bob" password="hello" />
    <add name="finework-test-hotmail" provider="Microsoft" providerKey="960ba1a8fbf9c197" 
         userName="finework-test@hotmail.com" password="5uLpjCN2eF" />
  </accounts>
</testAccounts>
